<div class="container">
  <h1>Mis pendientes:</h1>
  <div class="row">
    <div class="col-sm-6">
      <h3>Completados</h3>
      <% @todo.each do |todo| %>
        <% if todo.completed === true %>
          <p><%= todo.description  %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h3>Pendientes</h3>
      <% @todo.each do |todo| %>
        <% if todo.completed === false %>
          <p><%= todo.description  %></p>
        <% end %>
      <% end %>
    </div>

  </div>
    <%= link_to "Crear nueva tarea", todos_path %>
</div>
